<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container">
    <div class="card" style="max-width: 400px; margin: auto;">
        <h2>Create account</h2>

        <form method="post" action="/auth/register">
            <div>
                <label>Name</label>
                <input type="text" name="name" required>
            </div>

            <div>
                <label>Email</label>
                <input type="email" name="email" required>
            </div>

            <div>
                <label>Password</label>
                <input type="password" name="password" required>
            </div>

            <button type="submit">Register</button>
        </form>

        <div class="link">
            Already registered?
            <a href="/auth/login">Login</a>
        </div>
    </div>
</div>

</body>
</html>
